body {
  color:rgb(180, 17, 107);
  background-image: url(../public/images/pastelitos.png);
}
.navBar{
  width: 300%;
  padding-left: 50%;
  margin-left: -310px;
  margin-right: 150px;
  background-color:rgb(241, 151, 193);
  font-weight: 500;
  font-size: larger;
  text-align: center;
}
button{
  width: 3px;

}
.fondoCarrito{
  background-color:rgb(241, 151, 193) ;
  width: 80px;
}

.fondoFucsia {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  color: rgb(180, 17, 107);
  background-color: rgb(241, 151, 193);
  text-align: center;
}

.footer {
  background-color: rgb(241, 151, 193);
}
.redes {
  width: 60;
  justify-content: center;
  padding: 10px;
}
.cardimg {
  padding-top: 30px;
  margin-bottom: 20px;
}
.img {
  height: 300px;
  object-fit: contain;
}